*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  color:rgb(15, 15, 15);
  font-family: "Montserrat", sans-serif;
  background-color: rgb(221, 219, 221);
}


.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin:auto;
}

.navbar{

color:whitesmoke;
width: 100%;
float: left;
position: fixed; /*barı  sabitler*/
font-family: "Montserrat", sans-serif;;
padding: 30px 0;
transition: all 0.3s ease;
}
.navbar .sticky{
background:crimson;
padding:15px 0;
}
.navbar .name a{
  color:#fff;
  font-size:35px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .sticky .name a{
  color: black;
}
.navbar .max-width{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.navbar .menu li{
  list-style:none ;
  display: inline-block;
}
.navbar .menu li a{
color:#fff;
font-size:18px;
font-weight: 500px;
margin-left: 25px;
text-decoration: none;
transition: color 0.3s ease;
}

.navbar .menu li a:hover{
  color:crimson;

}
/*menu buton style*/
.menu-btn{
  color:#fff;
  font-size:25px;
  cursor:pointer;
  display: none;

}
/*anasayfa section */
.home{
  display: flex;
  background-color: gray;
  height: 100vh;
  color: black;
  min-height: 500px;
  font-family:"Montserrat", sans-serif ;
}
.home .max-width{
  margin: auto 0 auto 40px;
  
}
.home .home-content .text-1{
  font-size: 30px;

}
.home .home-content .text-2{
  font-size: 80px;
  font-weight:600;
  margin-left: -3px;
  
}
.home .home-content .text-3{
  font-size: 45px;
  margin:5px 0;
  
}


/*media lar*/
@media (max-width:1104px){
  .home .max-width{
    padding:0 50px;
  }}

@media (max-width:991px){
    .max-width{
      padding:0 50px;
    }
  }

@media (max-width:947px){
  .max-width{
    padding:0 50px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    width:100%;
    left:-100%;
    top:0;
    height: 100vh;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left:0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2{
    font-size:70px;
  }
  .home .home-content .text-3{
    font-size:35px;
  }
}

@media (max-width:690px){
  .max-width{
    padding:0 23px;
  }
    .home .home-content .text-2{
      font-size:55px;
    }
    .home .home-content .text-3{
      font-size:31px;
    }
  }

@media (max-width:500px){
 
   
    .home .home-content .text-2{
      font-size:50px;
    }
    .home .home-content .text-3{
      font-size:26px;
    }
  
}